.hero{
    height: 100vh;
    background-image: url('/hero.webp');
    background-size: cover;
    background-position: bottom;
}
.heroPrin{
    height: 60vh;
    border-radius: 20px;
    border: solid 2px #ffffff;
}
.heroPrin h1{
    font-size: 7rem;
}
.heroSec{
    border-radius: 20px;
    height: 15vh;
    
}
.imagen{
    background-image: url('/hero.jpg');
    background-size: cover;
}
.eslogan{
background-color: #ffffff;
}
.presen{
    background-color: #fcc601;
}
.logoHero{
    height: 100%;
}
.hombre{
    height: 100vh;
    width: auto;
}
.titulo{
    font-family: 'Wallpoet', sans-serif;
    color: #fcc601;
}
.contenedorTit{
    background-color: #181818;
}