.ct{
    height: 100%;
    background-color: #fcc601;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.pesa{
    margin-left: 600px;
    margin-top: 400px;
    position: absolute;
    height: 80px;
    width: auto;
}
.pareja{
    height: 500px;
}
/* From Uiverse.io by Cevorob */ 
.x {
    position: relative;
    height: 50px;
    padding: 0 30px;
    border: 2px solid #000;
    background: #fcc601;
    user-select: none;
    white-space: nowrap;
    transition: all .05s linear;
    font-family: inherit;
   }
   
   .x:before, .x:after {
    content: "";
    position: absolute;
    background: #fcc601;
    transition: all .2s linear;
   }
   
   .x:before {
    width: calc(100% + 6px);
    height: calc(100% - 16px);
    top: 8px;
    left: -3px;
   }
   
   .x:after {
    width: calc(100% - 16px);
    height: calc(100% + 6px);
    top: -3px;
    left: 8px;
   }
   
   .x:hover {
    cursor: crosshair;
   }
   
   .x:active {
    transform: scale(0.95);
   }
   
   button:hover:before {
    height: calc(100% - 32px);
    top: 16px;
   }
   
   .x:hover:after {
    width: calc(100% - 32px);
    left: 16px;
   }
   
   .x span {
    font-size: 15px;
    z-index: 3;
    position: relative;
    font-weight: 600;
   }
