@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

html,body{
  border: 0;
  padding: 0;
  background-color: #181818 !important;
}
.contenido{
  padding-top: 100px;
}
.noEnlace{
    text-decoration: none;
}
.t-m{
  color:#fcc601;
}

.border-m{
  border: solid 1px #fcc601;
}

.tituloN {
  font-family: 'Caveat', cursive;
  color: #4FC3F7;
}

.nutricion{
  background-color: #d6f0ff;
}