html,body{
  border: 0;
  padding: 0;
  background-color: #181818 !important;
}
.contenido{
  padding-top: 100px;
}
.noEnlace{
    text-decoration: none;
}
.t-m{
  color:#fcc601;
}

.border-m{
  border: solid 1px #fcc601;
}
